@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic body styling removed to let tailwind handle defaults */
body {
  @apply bg-gray-50 text-gray-900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
